header{
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    font-family: Roboto, sans-serif;

    button{
        background: #FF5EB5;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 9px 27px;
        border-radius: 5px; 
        outline: none;
    }
}